@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

:root{
  --main-color : #321675;
}

/* The css of ResumeChat page */
.chat-window-main {
  display: flex;
  height: 100vh;
  /* background-color: lightcyan; */
}

.chatwindow-sec {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ffffff; */
  /* background-color: #d4d3d3; */
  background-color: #F8F9FA;
}

